footer {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;


.buttons-container {
    display: grid;
    height: 120px;
    width: 120px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .empty-box {
        z-index: 2;
        width: 120px;
        height: 120px;
        background: transparent;
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        
    }
    img {
        z-index: 1;
        grid-column: 1 / span 3;
            grid-row: 1 / span 3;
    }

    #up {
        opacity: 0;
        z-index: 14;
       // display: none;
       grid-column: 2 / span 1;
       grid-row: 1 / span 1;
       height: 40px;
       width: 45px;
    //    position: relative;
    //    right: 7px;
      // transform: translateX(-10px);
    }
    #down {
        opacity: 0;
        z-index: 12;
       // display: none;
       grid-column: 2 / span 1;
       grid-row: 5 / span 1;
       height: 40px;
       width: 45px;
       //position: relative;
       //transform: translateX(-10px);
       //transform: translateY(-1px);

    }
    #right {
        opacity: 0;
        z-index: 10;
       // display: none;
       grid-column: 3/ span 1;
       grid-row: 3 / span 1;
       height: 40px;
       width: 40px;
       position: relative;
       right: 4px;
       
       //transform: translateX(-12px);
    }
    #left {
        opacity:0;
        z-index: 11;
       // display: none;
       grid-column: 1 / span 1;
       grid-row: 3 / span 1;
       height: 40px;
       width: 40px;
        position: relative;
       left: 0px;
    }
  

}
}