@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font1: "Helvetica Neue", Helvetica, sans-serif;
$font2: 'Press Start 2P', cursive;
// add more fonts 
$bold1: 700;
$bold2: 600;

$white: #fff;
$greyLight: #EBEBEB;
$greyMed: #707070;
$greyDark: #212121;
$black: #000;
$lightGreen: #03C872;
$lightGreen2: lightgreen;
$green3: #14BE73;
$purple1: #8577EF;
$purple2: #ACA5FF;
$blueColor: #50A9F4;
$pink: #FFB9E9;
$white: #FFFAEF;
$lightblue: #9FCFF3;
$cadburys1: #4a0d7b;
$cadburys2: #390b83;
$gameboyPurple: #551A8B;
$yellow1: #FDFD96;
$yellow2: #fffcb8;
//$lightBlack: #264545;


$p9: 0.9;
$p8: 0.8;
$p7: 0.7;
$p6: 0.6;
$p5: 0.5;
$p4: 0.4;
$p3: 0.3;

@mixin mobile {
	@media all and (max-width: 375px)  {
       @content;
	}
}
