
@import "_var-mixins";
@import "_button";
@import "_handle";

*, *:before, *:after{
    //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
 //@at-root color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font2;
  min-height: 100vh;
 
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
#bunny , #eggy {
  display: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}


  

  .main-container {
    border-radius: 15px;
  background: $purple2;
  max-width: 100%;
  width: 375px;
  height: 667px;
  @include mobile {
    border-radius: 0px;  
    width: 100%;
    
}
.scores-container {
  display: flex;
  justify-content: flex-end;
  //background: red;
  font-size: 15px;
  margin: 50px 0 15px 0;
  div {
      flex: 1;
      // padding-right
  
       
}
}
.middle-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  


  .canvas-wrapper {

    //border-radius: 5px;
    //border: 10px $cadburys2 solid;
    width: 320px;
    height: 320px;
    //overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .start-container {
        opacity:1;
        border: $greyDark 4px solid;
        background: $blueColor;
        z-index: 300;
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;
            #startGame {
              cursor: pointer;
              margin: auto;
              background: $green3;

            }

            .won-container {
              margin: auto;
             
            }
        }
        .lose-container {
          width: 320px;
          height: 320px;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          z-index: 20;
          display: flex;
          h3 {
            margin: auto;
          font-size: 1.3rem;
          }
          
        }
        .canvas-container {
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            #canvas {
                border-radius: 0 !important;
              border-radius: 5px;
              background:$green3;
            
            }
        }
}
.svg-wrapper  {
  display: flex;
    //border: 10px $cadburys2 solid;
    img {
      margin: 20px auto 0 auto;
    width: 150px;
        //transform: rotate(-15deg);
    
    }
}

.other-2 {
  background: $lightGreen2 !important;
}
  }