
@import "_var-mixins";
@import "_button";
@import "_handle";

*, *:before, *:after{
   //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
 //@at-root color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font2;
  min-height: 100vh;
 
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
#bunny , #eggy {
  display: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

header {
  .svg-wrapper  {
    display: flex;
      //border: 10px $cadburys2 solid;
      img {
        margin: 20px auto 0 auto;
      width: 150px;
          //transform: rotate(-15deg);
      
      }
  }
  p {
    font-size: 15px;
    text-align: center;
    span {
      font-size: 20px;
    }
  }
}
  

  .main-container {
    border-radius: 15px;
  background: $purple2;
  max-width: 100%;
  width: 375px;
  height: 667px;
  @include mobile {
    border-radius: 0px;  
    width: 100%;
}

.scores-container {
  // justify-content: flex-end;
  //background: red;
  //background: yellow;
  font-size: 16px;
  margin: 10px 0 15px 0;
  width: calc(100% - 55px);
  @media all and (max-width: 340px) {
    width: 94%;
  }
  margin: 0 auto;

  .more-container {
  
   
   display: grid;
   grid-template-columns: auto 1fr auto;
    .score-wrapper {
      position: relative;
      z-index: 2000;
      top: 30px;
      left: 20px;
      // position: relative;
      // top: 30px;
      // left: 40px;
      width: 78px;
      //z-index: 2000;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      div:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      div:nth-child(2) {
     
        
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        article {
          margin: auto;
          .middle-line {
            position: relative;
            top: 2px;
            right: 4px;
            
          }
          .total-number {
            position: relative;
            top: 5px;
            right: 12px;
          }
        }
      }
    
    
    }
    .timer-wrapper {
      align-self: end;
      justify-self: end;
     // background: cornflowerblue;
     padding-bottom: 10px;
     
    }
  }

}
.middle-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  


  .canvas-wrapper {

    //border-radius: 5px;
    //border: 10px $cadburys2 solid;
    width: 320px;
    height: 320px;
    //overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .start-container {
        opacity:1;
        border: $greyDark 4px solid;
        background: $blueColor;
        z-index: 300;
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .middle-start {
              display: flex;
              flex-direction: column;
              .game-details {
  
                font-size: 12px;
                line-height: 1.3;
                font-weight: 300;
                text-align: center;
                padding-bottom: 20px;
              }
              #startGame {
                cursor: pointer;
                text-align: center;
                margin: 10px auto 0 auto;
                background: $green3;
  
              }
            }
            
        }
        .win-container {
          border: $greyDark 4px solid;
          width: 320px;
          height: 320px;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          z-index: 20;
          display: flex;
          background: $pink;
          h3 {
            margin: auto;
          font-size: 1.3rem;
          }
          

         
        }
        .lose-container {
          display: none;
          //border: $greyDark 4px solid;
          width: 320px;
          height: 320px;
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          z-index: 20;
          display: flex;
          // justify-content: center;
          // align-items: center;
          background: $pink;
          .middle-lose {
            //outline: red solid 1px;
            width: auto;
            margin-top: 150px;
            text-align: center;
      //     font-size: 1.3rem;
      //     position: absolute;
      //  left: 50%;
      // -webkit-transform: translateX(-50%);
      //  transform: translateX(-50%)
          }
          
        }
        .canvas-container {
          
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            #canvas {
              width: 320px !important;
              height: 320px  !important;
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;
          border: $greyDark 4px solid;
                border-radius: 0 !important;
              border-radius: 5px;
              background:$green3;
            
            }
        }
}



.other-2 {
  background: $lightGreen2 !important;
}
  } // end of main container 