
@import "_var-mixins";
@import "_button";
@import "_handle";

*, *:before, *:after{
    //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
 //@at-root color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font2;
  min-height: 100vh;
 
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


  

  .main-container {
    border-radius: 15px;
  background: $purple2;
  max-width: 100%;
  width: 375px;
  height: 667px;
  @include mobile {
    border-radius: 0px;  
    width: 100%;
    
}
.scores-container {
  display: flex;
  margin: 20px 0 10px 0;
  div {
      flex: 1;
  }  
}
.middle-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
  
  
  .source {
    display: none; 
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .hide {
      display: none;
  }

  .canvas-wrapper {

    //border-radius: 5px;
    //border: 10px $cadburys2 solid;
    width: 320px;
    height: 320px;
    //overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .start-container {
opacity: 0;
        background: $purple2;
        z-index: 200;
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
        }
        .canvas-container {
            width: 320px;
            height: 320px;
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            #canvas {
                border-radius: 0 !important;
              border-radius: 5px;
              background:$lightGreen ;
            
            }
        }
}
.svg-wrapper  {
    //border: 10px $cadburys2 solid;
    img {
    width: 150px;
        //transform: rotate(-15deg);
    
    }
}